cachetools
hiredis>0.1.1

# Development version of dnslib
-e hg+https://bitbucket.org/prologic/dnslib#egg=dnslib

# Development version of redisco
-e git+https://github.com/kiddouk/redisco.git#egg=redisco

# Development version of circuits
-e hg+https://bitbucket.org/circuits/circuits#egg=circuits
